# Notebook ini untuk mengekspor file mentah dan file filter toko

Outputnya ada 3, toko seluruhnya, toko aktual dan toko yang sudah nonaktif

Import Library

In [1]:
import pandas as pd
import numpy as np

Load Data Mesin Gabungan

In [2]:
df = pd.read_excel("REKAP_DATA_MESIN_FULL.xlsx")

print(df.shape)
df.head()

(153448, 19)

,Center,Kode Game,Game Title,Keterangan,Kategori Game,Jumlah Diaktifkan,Kredit yg Digunakan,Bonus yg Digunakan,Main Gratis/Koin Masuk,QRIS,Total,Tiket/Koin Keluar,Mercy Ticket,Payout,Avg. Ticket/Coin Out Per Play/Coin In,Bulan,Tahun,Asal_Folder,Nama_File_Asal
0,Tamini Square,CS01,CEK SALDO,CEK SALDO #1,Cek Saldo,92,0.0,0.0,0,0,0.0,0,0,0.0,0.0,Agustus,2024,data-mesin,Laporan_Agustus_2024.xlsx
1,Tamini Square,CS02,CEK SALDO,CEK SALDO #2,Cek Saldo,168,0.0,0.0,0,0,0.0,0,0,0.0,0.0,Agustus,2024,data-mesin,Laporan_Agustus_2024.xlsx
2,Tamini Square,NEW 29 /10/16,KIDDIE LAND,KIDDIE LAND SEPUASNYA,KIDDIE LAND,11,385000.0,0.0,0,0,385000.0,0,0,0.0,0.0,Agustus,2024,data-mesin,Laporan_Agustus_2024.xlsx
3,Tamini Square,4/06/2024,CRAZY HORSE,CRAZY HORSE # 5,Kiddy Ride,22,70350.0,6650.0,0,0,77000.0,0,0,0.0,0.0,Agustus,2024,data-mesin,Laporan_Agustus_2024.xlsx
4,Tamini Square,04/6/2024,CRAZY HORSE,CRAZY HORSE # 6,Kiddy Ride,9,30000.0,1500.0,0,0,31500.0,0,0,0.0,0.0,Agustus,2024,data-mesin,Laporan_Agustus_2024.xlsx

Pastikan kolom ini ada:

In [3]:
required_cols = [
    'Center',
    'Game Title',
    'Kategori Game',
    'Jumlah Diaktifkan',
    'Kredit yg Digunakan',
    'Bulan',
    'Tahun'
]

missing = [c for c in required_cols if c not in df.columns]
missing

[]

Basic Cleaning

In [4]:
df['Center'] = df['Center'].astype(str).str.strip()
df['Game Title'] = df['Game Title'].astype(str).str.strip()
df['Kategori Game'] = df['Kategori Game'].astype(str).str.strip()

df['Jumlah Diaktifkan'] = pd.to_numeric(df['Jumlah Diaktifkan'], errors='coerce').fillna(0)
df['Kredit yg Digunakan'] = pd.to_numeric(df['Kredit yg Digunakan'], errors='coerce').fillna(0)

Ekspor df full

In [6]:
df.to_excel("Full_Data Mesin_2024-2025.xlsx", index=False)

Map Toko Aktif

In [7]:
DICT_TOKO_AKTIF = { 

    # ================== AREA R ==================
    "Ciputat (R-20)": "R020 Ciputat",
    "Bekasi (R-21)": "R021 Bekasi",
    "Pasar Minggu (R-22)": "R022 Pasar Minggu",
    "Tanjung Priok": "R029 Tanjung Priuk",
    "Tangerang (R-31) RMS": "R031 Tangerang",
    "Depok (R-34) RMS": "R034 Depok",
    "Cilegon (R-35) RMS": "R035 Cilegon",
    "Cibitung (R-37) RMS": "R037 Cibitung",
    "Klender (R-38) RMS": "R038 Klender 1",
    "Cengkareng (R-40)": "R040 Cengkareng",
    "Pematang Siantar (R-41) RMS": "R041 Siantar",
    "Jambi (R-45) RMS": "R045 Jambi",
    "Tanjung Karang Lampung": "R048 Lampung",
    "Ciledug (R-49) RMS": "R049 Ciledug",
    "Balikpapan (R-51)": "R051 Balikpapan",
    "Pangkal Pinang (R-52) RMS": "R052 Pangkal Pinang",
    "Pontianak (R-57)": "R057 Pontianak",
    "Medan (R-58) RMS": "R058 Medan 2",
    "Tarakan (R-60)": "R060 Tarakan",
    "Kupang (R-61) RMS": "R061 Kupang",
    "Banjarmasin": "R063 Banjarmasin",
    "Padang (R-66) RMS": "R066 Padang",
    "Mega Mal Karawang (R-67) RMS": "R067 Karawang",
    "Makasar 2 (R-70)": "R070 Makassar 2",
    "Bogor Trade Mall (R-71) RMS": "R071 BTM",
    "Serang (R-75) RMS": "R075 Serang",
    "Bukittinggi (R-77) RMS": "R077 Bukittinggi",
    "Makasar 3 (R-79) RMS": "R079 Makassar 3",
    "Dumai (R-80)": "R080 Dumai",
    "Bontang (R-81)": "R081 Bontang",
    "Banyuwangi": "R083 Banyuwangi",
    "Kerinci (R-86)": "R086 Kerinci",
    "Tebing Tinggi (R-89) RMS": "R089 Tebing Tinggi",
    "Abepura (R-91)": "R091 Abepura",
    "Samarinda (R-94) RMS": "R094 Samarinda",
    "Panam (R-96)": "R096 Panam",
    "Kediri (R-98) RMS": "R098 Kediri",
    "Garut (R-99) RMS": "R099 Garut",
    "Sabar Subur": "R135 SS Tangerang",

    # ================== AREA RB ==================
    "Sukabumi (RB-05) RMS": "RB05 Sukabumi",
    "Cimahi (RB-12)": "RB12 Cimahi",
    "Gresik (RB-16) RMS": "RB16 Gresik",
    "Denpasar (RB-20) RMS": "RB20 Denpasar",
    "Sidoarjo (RB-27) RMS": "RB27 Sidoarjo",
    "Kudus (RB-28)": "RB28 Kudus",
    "Panbil Batam (RB-30) RMS": "RB30 Panbil",
    "Malang (RB-M) RMS": "RBM Malang",
    "Krian (RB-23)": "RB23 Krian",

    # ================== AREA ZD ==================
    "Ubud Bali": "ZD15 Bali Batu Bulan",
    "Wonosari": "ZD25 Wonosari",
    "Ponorogo (ZD-44)": "ZD44 Ponorogo",
    "Lotte Bintaro (ZD-46)": "ZD46 Lotte Bintaro",
    "Payakumbuh": "ZD39 Payakumbuh",
    "Mesra Samarinda (ZD-37)": "ZD37 Samarinda",

    # ================== TAMBAHAN R ==================
    "Dewi Sartika Bogor": "R015 Dewi Sartika",
    "Cimone (R-26) IFS": "R026 Cimone",
    "Plaza Sukaramai Pekanbaru (R-56)": "R056 Pekanbaru",
    "Cirebon (R-100)": "R100 Cirebon",
    "Rajabasa Lampung": "R101 Rajabasa",
    "Kebayoran Lama (R-102) IFS": "R102 Kebayoran Lama",
    "Sorong (R-103)": "R103 Sorong",
    "Parung": "R105 Parung",
    "Cibadak (R-106)": "R106 Cibadak",
    "Pekalongan (R-110)": "R110 Pekalongan",
    "Yasmin Bogor": "R114 Bogor Yasmin",
    "Dinoyo": "R119 Dinoyo",
    "Tajur (R-121)": "R121 Tajur",
    "Cikupa": "R124 Cikupa",
    "Jatinegara": "R125 Jatinegara",
    "Timika (R-138)": "R138 Timika",
}

Terapkan mapping → kolom baru

In [8]:
df['CENTER_STD'] = df['Center'].map(DICT_TOKO_AKTIF)

Flag Toko Aktif vs Non Aktif

In [9]:
df['IN_SCOPE_TOKO'] = df['CENTER_STD'].notna()

In [10]:
df['IN_SCOPE_TOKO'].value_counts()

IN_SCOPE_TOKO
True     129210
False     24238
Name: count, dtype: int64

Audit Cepat Toko

Toko Aktif

In [11]:
df_aktif = (
    df[df['IN_SCOPE_TOKO']]
    [['Center', 'CENTER_STD']]
    .drop_duplicates()
    .sort_values('CENTER_STD')
)

df_aktif

                        Center          CENTER_STD
1164        Dewi Sartika Bogor   R015 Dewi Sartika
1392            Ciputat (R-20)        R020 Ciputat
2314             Bekasi (R-21)         R021 Bekasi
485        Pasar Minggu (R-22)   R022 Pasar Minggu
2659         Cimone (R-26) IFS         R026 Cimone
...                        ...                 ...
4892                  Wonosari       ZD25 Wonosari
10886  Mesra Samarinda (ZD-37)      ZD37 Samarinda
3349                Payakumbuh     ZD39 Payakumbuh
18189         Ponorogo (ZD-44)       ZD44 Ponorogo
647      Lotte Bintaro (ZD-46)  ZD46 Lotte Bintaro

[70 rows x 2 columns]

Toko Non Aktif

In [12]:
df_non_aktif = (
    df[~df['IN_SCOPE_TOKO']]
    [['Center']]
    .drop_duplicates()
    .sort_values('Center')
)

df_non_aktif

                             Center
597                  Amboja (ZD-45)
3947                  Batam (RB-21)
3113                       Baturaja
12528                 Blok M Square
5532                     Bungurasih
14561            Cianjur (R-46) RMS
2198              Cibinong 1 (R-43)
2264             Cibinong 2 (R-107)
2648            Cipanas (R-137) IFS
2545            Cipanas (R-137) RMS
4957   Clandys Semarang (ZD-48) IFS
16315                   Duri (R-85)
40048              Garut (R-99) IFS
37393            Gresik (RB-16) IFS
37534             Kediri (R-98) IFS
40514           Kiddie Land Klender
23400      Kiddiezone Batam (ZD-43)
13170                         Kopro
38087          Makasar 3 (R-79) IFS
33127  Mega Mal Karawang (R-67) IFS
2397              Padalarang (R-97)
544             Palmerah (R-10) IFS
307             Pasar Minggu (R-11)
81           Pasar Perumnas Klender
157                     Pondok Gede
3907             Rumbai - Damasraya
2509             Sabar Subur Cikupa
17120          Salatiga (RB-03) RMS
17428                      Semarang
5845                        Sesetan
17876          Sidoarjo (RB-27) IFS
0                     Tamini Square
3537         Tanjung Pinang (RB-26)
5676            Tulungagung (ZD-47)

Gunakan Nama Center Standar

In [13]:
df.loc[df['IN_SCOPE_TOKO'], 'Center_Final'] = df['CENTER_STD']
df.loc[~df['IN_SCOPE_TOKO'], 'Center_Final'] = df['Center']

Buat Kolom Tanggal (Bulanan)

In [14]:
map_bulan = {
    'Januari':1,'Februari':2,'Maret':3,'April':4,
    'Mei':5,'Juni':6,'Juli':7,'Agustus':8,
    'September':9,'Oktober':10,'November':11,'Desember':12
}

df['Bulan'] = df['Bulan'].astype(str).str.title()
df['Bulan_Angka'] = df['Bulan'].map(map_bulan)

df['Tanggal'] = pd.to_datetime(
    dict(year=df['Tahun'], month=df['Bulan_Angka'], day=1),
    errors='coerce'
)

Final Dataset untuk Ekspor

In [15]:
df_mesin_aktif = df[df['IN_SCOPE_TOKO']].copy()
df_mesin_non_aktif = df[~df['IN_SCOPE_TOKO']].copy()

Ekspor Data Mesin – TOKO AKTIF

In [16]:
df_mesin_aktif.to_excel(
    "DATA_MESIN_TOKO_AKTIF_2024-2025.xlsx",
    index=False
)

Ekspor Data Mesin – TOKO NON AKTIF

In [17]:
df_mesin_non_aktif.to_excel(
    "DATA_MESIN_TOKO_NON_AKTIF_2024-2025.xlsx",
    index=False
)

Validasi

In [18]:
print("TOKO AKTIF :", df_mesin_aktif['Center_Final'].nunique())
print("TOKO NON AKTIF :", df_mesin_non_aktif['Center_Final'].nunique())

TOKO AKTIF : 70
TOKO NON AKTIF : 34